body {
    background-image: url("img/faded-office.png");
    background-size: cover;
    color: #020202;
    font-family: 'Open sans', sans ;
}

.underline {
    border-bottom: 4px solid #0ea5e9;
}

.btn {
    background: #0ea5e9;
    border: none;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
}